@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: url("../background.jpeg") center / cover no-repeat;
}

img {
  width: 80%;
  max-width: 500px;
}
