@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

body {
  background-color: #272727 !important;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow-x: hidden;
}

html {
  font-size: 0.625rem !important;
}

h2 {
  font-size: 1.3rem;
}

.navbar {
  background-color: #19d95e;
}

.fa-bars {
  color: #272727;
  font-size: 2.4rem;
}

.fa-search {
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
}

.search input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1.2rem;
}

a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem !important;
}

.btn-success {
  background-color: #19d95e !important;
  font-size: 1.4rem !important;
}

.btn-success:hover {
  background-color: #00c648 !important;
}

.workoutSection {
  overflow-x: scroll;
  padding: 1rem;
  box-shadow: inset 5px 5px 10px #1f1f1f, inset -5px -5px 10px #212121;
}

.workoutSection::-webkit-scrollbar {
  display: none;
}

.workout-card {
  background-color: #212121 !important;
  box-shadow: 0px 0px 10px #111;
  width: 250px !important;
  margin-right: 3rem;
}

.categories div {
  cursor: pointer;
}

.categories div p {
  font-size: 2rem;
}

span {
  font-size: 1rem;
  text-transform: capitalize;
  color: rgb(191, 191, 191);
}

.page-hidden {
  display: none !important;
}

.search-workouts,
.todays-workout,
.workout-section,
.search-section {
  transition: all 300ms ease-in-out !important;
}

.nav-item,
.nav-item:hover {
  color: #272727;
}

.addSet,
.delete {
  height: 3.2rem !important;
}

.addSet {
  margin-right: 1rem !important;
}

.rounded-circle {
  font-size: 1.5rem;
}

.rounded-pill {
  padding: 0 1.4rem 0 3rem;
  margin-right: 0.4rem;
}

.active {
  font-weight: bold !important;
}

.fa-plus {
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .addSet {
    font-size: 0.8rem !important;
  }
}
